<div *ngIf="movie">
  <app-my-header>{{movie.title}} details!</app-my-header>

  <div>
    <label>id: </label>{{movie.id}}
  </div>
  <div>
    <form>

      <img [src]="movie.imageData"/><br>

      <md-form-field>
        <input mdInput name='movieTitle' [(ngModel)]="movie.title" placeholder="title"/>
      </md-form-field>
      <br>
      <md-form-field>
        <input mdInput name='movieGenre' [(ngModel)]="movie.genre" placeholder="genre"/>
      </md-form-field>

    </form>
  </div>
  <button md-raised-button (click)="goBack()">Back</button>
  <button md-raised-button (click)="save()">Save</button>
  <button md-raised-button (click)="gotoOverview()">All Movies</button>
</div>
