<app-movie-new></app-movie-new>

<!--<md-form-field floatPlaceholder="never">-->
  <!--<input mdInput #filter placeholder="Filter Movies">-->
<!--</md-form-field>-->


<div class="movie-cards">
  <md-card class="movie-card" *ngFor="let movie of movies">
    <md-card-header>
      <md-card-title>{{movie.title}}</md-card-title>
      <md-card-subtitle>{{movie.genre}}</md-card-subtitle>
    </md-card-header>
    <img *ngIf="movie.imageData" md-card-image src="{{movie.imageData}}">
    <md-card-content>
      <p>
        Blob
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="details(movie)">EDIT</button>
      <button md-button (click)="delete(movie)">DELETE</button>
    </md-card-actions>
  </md-card>

</div>
